<div class="row w-100">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 bg-dark">
    <form #form="ngForm" (ngSubmit)="login(form)">
      <div *ngIf="auth.invalidLogin"><p class="text-danger">Не корректное имя пользователя или пароль</p></div>

      <div class="form-group m-3">
        <label class="text-white" for="userName">Имя пользователя</label>
        <input class="form-control-lg w-100" id="userName" placeholder="Имя пользователя" name="userName" ngModel required autofocus />
      </div>
      <div class="form-group m-3 ">
        <label class="text-white" for="password">Пароль</label>
        <input class="form-control-lg w-100" id="password" placeholder="Пароль" name="password" ngModel required type="password" />
      </div>

      <button class="btn bg-warning  m-3" type="submit">submit</button>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>






