<!--id: number = 0;
logoImagePath: string = "";
title: string = "";
activeHelps: boolean = false;
avtorId: string = "";
questCount:number=0;-->

<form novalidate #form="ngForm" (submit)="Create(form)">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1>Title ={{testService.formData.Title}}</h1>

      <div class="form-group">
        <label class="text-white">Название</label>
        <input pattern="^.{3,100}$" type="text" class="form-control form-control-lg" placeholder="Title" name="Title" #Title="ngModel" [(ngModel)]="testService.formData.Title"
               required maxlength="100" />
        <div [hidden]="Title.untouched||Title.valid " class="alert alert-danger">
          Название не может быть короче 3 символов или длиннее 100
        </div>
      </div>
      <div>
        <label class="text-white">Тест с подсказками</label>
        <input type="checkbox" name="ActiveHelps" id="ActiveHelps" [(ngModel)]="testService.formData.ActiveHelps" class="" />
      </div>

      <div class="form-group">
        <label class="text-white">Описание</label>
        <textarea rows="8"  type="text" class="form-control form-control-lg" placeholder="Description" name="Description" #Description="ngModel" [(ngModel)]="testService.formData.Description"
                  required minlength="200" maxlength="2000"> </textarea>
        <div [hidden]="Description.untouched ||Description.valid" class="alert alert-danger">
          Описание должно быть не короче 200 символов и не длиннее 2000 символов
        </div>
      </div>

      <div class="w-100">
        <img style="width:100%" *ngIf="testService.formData.LogoImagPath!=''" src="{{testService.formData.LogoImagPath}}" />
      </div>
      <div class="form-group row  w-100 ms-0 me-0">

        <label class="text-white">Картинка</label>
      </div>
      <!--  -->
      <div *ngIf="testService.formData.LogoImagPath=='';else urlNotNull">
        <input type="text" class="form-control form-control-lg" placeholder="LogoImagePath" name="LogoImagePath" #LogoImagePath="ngModel" [(ngModel)]="testService.formData.LogoImagPath"
               required maxlength="100" />
      </div>
      <ng-template #urlNotNull>
        <div class="row mb-4">
          <div class="form-group col-9">
            <input type="text" class="form-control form-control-lg" placeholder="LogoImagePath" name="LogoImagePath" #LogoImagePath="ngModel" [(ngModel)]="testService.formData.LogoImagPath"
                   required maxlength="100" />
          </div>
          <div class="col-3">
            <button class="btn bg-warning btn-lg input-group m-0" (click)="ClearImg()">Clear</button>

          </div>
        </div>
      </ng-template>

      <button class="btn btn-info btn-lg input-group m-0" [disabled]="form.invalid" type="submit">Создать</button>

    </div>
    <div class="col-lg-2"></div>
  </div>
</form>

