<div class="row">
  <h1>Details</h1>
  <div class="col-lg-5">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>ActiveHelps</th>
          <th>QuestCount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of test.list">
          <td (click)="PutData(pd)"><label> {{pd.Title}}</label></td>
          <td (click)="PutData(pd)"> {{pd.ActiveHelps}}</td>
          <td (click)="PutData(pd)"> {{pd.QuestCount}}</td>
        </tr>
      </tbody>
    </table>
    <button class="w-100" (click)="loadTestes()">next Page</button>
    <button class="w-100" (click)="First()">First</button>
  </div>

  <div class="col-lg-7">

    <form #questForm="ngForm" *ngIf="test.formData.Id>0;else NoData">
      <div class="card" style="width:100%;">
        <img class="card-img-top" src="{{test.formData.LogoImagPath}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{test.formData.Title}}</h5>
          <p class="card-text">{{test.formData.Description}}</p>
          <p>Дата создания {{test.formData.CreatedDate}}</p>
          <p> Количество вопросов {{test.formData.QuestCount}}</p>

        </div>
      </div>
    </form>
    <ng-template #NoData>
      <h1>Выберите тест(кликнув по нему) для просмотра информации</h1>
    </ng-template>
  </div>
</div>




<!--export class Test {
  Id: number;
  LogoImagPath: string;
  Title: string = "";
  ActiveHelps: boolean = false;
  AvtorId: string;
  QuestCount: number = 0;
  CreatedDate: string;
  Description: string;
}-->
